.button-webcam {
    cursor: pointer;
}

.icon {
    max-width: 50px;
    max-height: 50px;
}


canvas {
  border: 1px solid #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}


input[type="file"] {
  display: none;
}

img {
  display: inline-block;
  border: 1px solid #eaeaea;
  height: 100px;
  width: 100px;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}